.Screen {
  width: 360px;
  height: 600px;
  background: #fff;

  display: flex;
  flex-direction: column;

  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.Title {
  padding: 5% 0% 4% 5%;
  font-size: 1.5rem;
  font-weight: bold;
}

.Container {
  height: 90%;
  margin: 0% 4.5% 0% 4.5%;
}
