/* .TodoItem {
  margin: 3px 2px 3px 1.5px;
  border-radius: 5px;
  box-shadow: 0.8px 1.5px 3px 0.8px rgba(0, 0, 0, 0.25);
  padding: 0.7rem;
} */

/* .TodoItem + .TodoItem {
  margin-top: 10px;
} */

/* .Content {
  height: 1.5rem;
  width: 100%;

  display: flex;
  align-items: center;
} */

.CheckButton {
  height: 1.5rem;
  width: 2.2rem;
  margin-left: -0.35rem;

  font-size: 1.5rem;

  background: none;
  border: none;
  opacity: 0.65;

  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CheckButtonFill:hover {
  color: darkgray;
  cursor: pointer;
}

.CheckButtonUnFill {
  border-radius: 100%;
}

.CheckButtonUnFill:hover {
  background-color: darkgray;
  cursor: pointer;
}

/* .Text {
  height: 1.2rem;
  width: 100%;

  margin-left: 0.25rem;
  font-size: 1.1rem;
  font-weight: 500;

  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

/* todo */
.Content.Done .Text {
  opacity: 0.5;
  font-weight: 400;
  text-decoration: line-through;
}

/* .EditButton {
  width: 20px;
  height: 20px;
  margin-right: 1.5%;

  background: none;
  border: none;
  opacity: 0.3;

  flex: none;
} */

/* .EditButton:hover {
  opacity: 1;
  cursor: pointer;
} */

/* .EditButton {
  font-size: 1rem;
  color: #3f464d;
} */

/*
.DeleteButton {
  width: 20px;
  height: 20px;
  margin-right: 1.5%;

  background: none;
  border: none;
  opacity: 0.3;

  flex: none;
}

.DeleteButton:hover {
  opacity: 1;
  cursor: pointer;
}

.DeleteButton {
  font-size: 1.1rem;
  color: #3f464d;
} */
