.TodoItem {
  margin: 1px 1px 2px 1px;
  border-radius: 5px;
  box-shadow: 0.5px 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0.7rem;
  display: flex;
}

.TodoItem + .TodoItem {
  margin-top: 10px;
}

.Content {
  width: 100%;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.Content svg {
  font-size: 1.35rem;
  color: #3f464d;
  opacity: 0.85;

  flex: none;
}

.Text {
  margin-left: 0.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  flex-grow: 1;

  /* Truncate long sentences (...) */
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Content.Done .Text {
  opacity: 0.5;
  font-weight: 400;
  text-decoration: line-through;

  cursor: pointer;
}

.EditButton {
  width: 20px;
  height: 20px;
  margin-right: 1.5%;

  background: none;
  border: none;
  opacity: 0.5;

  flex: none;
}

.EditButton:hover {
  opacity: 1;
}

.EditButton svg {
  font-size: 1rem;
  color: #3f464d;
}

.DeleteButton {
  width: 20px;
  height: 20px;
  margin-right: 1.5%;

  background: none;
  border: none;
  opacity: 0.5;

  flex: none;
}

.DeleteButton:hover {
  opacity: 1;
}

.DeleteButton svg {
  font-size: 1.1rem;
  color: #3f464d;
}
