.TodoTitle {
  margin: 6% 0% 3% 3%;

  font-size: 1.4rem;
  font-weight: bold;
}

.TodoList {
  height: 260px;
  overflow: auto;
}

.DoneTitle {
  margin: 4% 0% 3% 3%;

  font-size: 1.4rem;
  font-weight: bold;
}

.DoneList {
  height: 170px;
  overflow: auto;
}
