.Screen {
  width: 360px;
  height: 600px;
  background: #fff;

  display: flex;
  flex-direction: column;

  border-radius: 20px;
  box-shadow: 0 0 25px rgba(105, 85, 85, 0.5);
}

.Container {
  margin: 0% 4.5% 0% 4.5%;
}
