.App {
    font-family: sans-serif;
    text-align: left;
    margin: 20px 20px 20px 20px;
  }
  
  body {
    width: 80vw;
    height: 80vh;
    align-items: center;
  }
  
  .Box {
    width: 100%;
    display: block;
  }
  
  .TodoItem {
    
  }
  
  
  #InputBox {
    
  }
  
  #InputText {
    margin: 20px 20px 20px 0px;
    
  }
  
  #InputField {
    margin: 20px 20px 20px 0px;
    
  }
  
  #TodoInput {
    
  }
  
  #TodoBtn {
   
  }
  
  #TodoListBox {
    margin: 20px 20px 20px 20px;
  }
  
  #todo-list-title {
    margin: 20px 20px 20px 20px;
  }
  
  #done-list-title {
    margin: 20px 20px 20px 20px;
  }
  