html {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);
}
body {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 30px grey;
}
